@tailwind base;
@tailwind components;
@tailwind utilities;

section, .container {
  max-width: 1312px;
  width: calc(100% - 32px);
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (max-width: 992px) {
  section {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}
